<div class="container">
    <%= render :partial => "assignment_list", locals: {assignments: @current_assignments, state: 'current'} %>
    <%= render :partial => "assignment_list", locals: {assignments: @past_assignments, state: 'past'} %>
    <br>
    <% if current_user && current_user.admin_role? %>
        <%= link_to "Add a New Assignment", new_assignment_path, class: 'waves-effect waves-light btn' %>
    <% end %>
</div>