<div class="row">    
  <div class="col s9">
    <div class="card">
      <div id="main_content">
        <p>About</p>
        <p>&nbsp;</p>
      </div>
      <div>
        <p>About the Cafe23 Management System</p>
      </div>
    </div>
  </div>
</div>

