<div class="row">  
  <h4>Welcome to Cafe23!</h4>  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <% if current_user && current_user.employee_role? %>
          <%# <meta http-equiv="refresh" content="3; URL=shifts" />
          <body>
            <p>Fetching your shifts, please wait! If you are not redirected in three seconds, 
            <a href=shifts>click here</a>.</p>
          </body> %>
          <%= render :partial => "shifts/shift_list", locals: {shifts: current_user.shifts.upcoming, state: 'upcoming'} %>
        <% else %>
          <p> test</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
