<div class="row">    
  <div class="col s9">
    <div class="card">
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div id="main_content">
        <p>Cafe23 Privacy Policy</p>
      </div>
    </div>
  </div>
</div>